@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 700vh;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        height: 1100vh;
        width: 100%;
    }
}

.partOne{
    width:100%;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
}

.partOne header{
    width: 100%;
    height: 10vh;
    max-height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right:10rem;
    background-color: black;
    color: white;
    font-family: "Merriweather", serif;

    h3{
        font-size: clamp(16px,30px,30px);
        font-weight: clamp(300,500,500);

    }

  

    i{
        font-size: clamp(1.5rem, 1.7rem, 1rem);
    }

    @media screen  and (max-width:767px ){
        justify-content: space-between;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

      
}

.partOne main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./backGrounds/fcb14a161aa9547b4673c26e4bc92cdd.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;

    .center{
        width:50vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #81c1322b;

        @media screen and (max-width:767px ){
            width: 80vw;
            height: 70vh;
        }

        .upperCorner{
            width: 13%;
            height: 27%;
            position: absolute;
            top: 2px;
            right: 5px;
            border-top: 3px solid white ;
            border-right: 3px solid white ;
        }

        .bottomCorner{
             width: 13%;
            height: 27%;
            position: absolute;
            bottom: 2px;
            left: 5px;
            border-bottom: 3px solid white ;
            border-left: 3px solid white ;
        }

        .middlePart{
            width: 100%;
            max-width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.7rem;

            .introduction{
                color: white;
                font-size: clamp(8px, 16px, 16px);
            }

            

            

             section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: "Merriweather", serif;
                color: white;
               
                padding-bottom: 1.3rem;

                p{
                    font-size: 72px;
                     @media screen and (max-width:767px ){
                    font-size: 32px;
                }
                }
            }
            
        }

        button{
            width: 10vw;
            height: 12%;
            background-color: #81c132;
            color: white;
            border: 0;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            letter-spacing: 3px;

            @media screen and (max-width: 767px ){
                width: 37vw;
            }
        }
    }

   
}

.partTwo{
    width: 100%;
    height: 250vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    position: relative;

    p{
        color: #111111;
    }

    @media screen and  (max-width:767px ){
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 496vh;
        }
}

.partTwo .firstSection{
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;

    @media screen and (max-width:767px ){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 151vh;
    }
        
    

    img{
        height: 89vh;
        box-shadow: 0 0 40px 0 rgba(26, 26, 26, 0.4);;

        @media screen and (max-width:767px ){
            height:59vh;
            order: 2;
            width: 80%;
        }
    }

    .skyMountainTree{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 4rem;

        header{
            width: 100%;
            font-family: "Merriweather", serif;
            font-size: 36px;
            padding-bottom: 1.2rem;
        }

        hr{
            width: 4vw;
            align-self: flex-start;
            height: 3px;
            background-color: #81c132;
            border: 0;

        }

        article{
            width: 100%;
            padding-top: 1.2rem;
            line-height: 1.5rem;
            font-family: "Open Sans", sans-serif;
            font-size: 15.5px;
        }

        @media screen and (max-width:767px ){
            order: 1;
            width: 88%;
            height: 60vh;

            header{
                width: 100%;
                font-size: 24px;
            }

            hr{
                width: 15%;
            }

            article{
                width: 100%;
                font-size: 13px;
            }
        }
    }
}

.partTwo .middleSection{
    width: 70vw; 
    height: 70vh;
    display: flex;
    position: relative;

    @media screen and (max-width: 767px ){
        width: 100%;
        height: 187vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 200px;
    }

    

    .beautifulWorld{
        width: 18vw;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 53px;

        i{
           font-size: 3.5rem;
            opacity: 0.3;
            position: absolute;
            top: 26px;
            left: -10px


        }

        p{
            font-family: "Merriweather", serif;
        }

        @media  screen and (max-width: 767px ) {
            position: relative;
            top: -292px;
            width: 77%;
            height: 2%;
            justify-content: flex-start;
            order: 2;

           i{
            font-size: 2rem;
            top: 0;
            opacity: 0.2;
           }

           p{
            font-size: 27px;
            font-weight: 400;
           }

        }

        
    }

    img{
        width: 35vw;
        box-shadow:  0 0 31px 0 rgba(26, 26, 26, 0.55);
        position: absolute;
        bottom: 135px;
        right: 160px;

        @media screen and (max-width: 767px ) {
            position: relative;
            width: 58%;
            height: 48vh;
            order: 1;
            bottom: 20rem;
            right: -15px;
        }
        

      

    }

    .unseenBeauty{
        width: 24vw;
        height: 34vh;
        padding-left: 1.6rem;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        bottom: 200px;
        right: -150px;

        h3{
            font-family: "Merriweather", serif;
            font-size: 36px;
            font-weight: 500;
            padding-bottom: 1.2rem;
            
        }

         hr{
            width: 4vw;
            align-self: flex-start;
            height: 3px;
            background-color: #81c132;
            border: 0;

        }

        section{
            width: 100%;
            padding-top: 1.2rem;
            line-height: 1.5rem;
            font-family: "Open Sans", sans-serif;
            font-size: 15.5px;
        }

        @media screen and (max-width:767px ) {
            position: relative;
            right: 0;
            top: -120px;
            width: 80%;
            order: 3;
            height: 46vh;
            bottom: 200px;
            padding-top: 3rem;

            h3{
                font-size: 35px;
            }

            section{
                font-size: 17px;
                line-height: 1.5rem;
                font-style: italic;
            }

            hr{
                width: 15%;
            }
        }

        
    }
}

.partTwo .lastSection{
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 23.5rem;
    padding-top: 1rem;
    position: relative;

   @media screen  and (max-width:767px ){
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -207px;
    height: 86vh;
   }

    .leftPart{
        width: 37vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        section{
            font-family: "Merriweather", serif;
            font-size: 36px;
            padding-bottom: 1.2rem;
        }

        hr{
            width: 4vw;
            align-self: flex-start;
            height: 3px;
            background-color: #81c132;
            border: 0;
        }

        article{
            padding-top: 1.2rem;
            line-height: 1.5rem;
            font-family: "Open Sans", sans-serif;
            font-size: 15.5px;
            line-height: 1.4rem;
        }

        @media screen and (max-width: 767px ) {
            width: 90%;
            order: 2;
            position: relative;
            bottom: 65px;
            right: 60px;

            section{
                font-size: 25px;
            }

            hr{
                width:15%;
            }

            article{
                width: 90vw;
                font-size: 16px;
            }

            
        }

        
    }

    .rightPart{
        width: 33vw;
        height: 80%;
        background-color: #bebdbd;
        position: relative;
               right: 40px;


            .firstLayer{
               width: 100%;
               height: 100%;
            }

            @media screen and (max-width: 767px ) {
                position: relative;
            left: 20px;
            width: 100%;
            height: 64%;
            background-color: #bebdbd;
            display: block;
               }
            

            .secondLayer img{
                right: 130px;
               width: 33vw;
               height: 40vh;
               position: absolute;
               top: 175px;
               right: 60px;

               @media screen and (max-width: 767px ) {
                position: absolute;
                top: 227px;
                right: 99px;
                height: 47vh;
                width: 88%;
               }
            }

            .outerLayer img{
            width: 24vw;
            height: 60vh;
            position: absolute;
            top: -200px;
            left: 150px;
            @media screen and (max-width: 767px ) {
               width: 90%;
                left: 37px;
                position: absolute;
                right: 14px;
                top: -152px;
                height: 66vh;
            }
            }

            
        }
    
}

.partThree {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    background-image: url("./backGrounds/thied-section-background.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 2rem;
    padding-left: 11rem;
    padding-right: 11rem;

    @media screen and (max-width: 767px){
        width: 100%;
        height: 361vh;;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 2rem;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.partThree section{
    width: 31%;
    height: 45vh;
    background-color: #ffffff52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen  and (max-width: 767px){
        width: 340px;
        height: 340px;
        background-color: #ffffff52;
        gap: 1.5rem;

   
    
    }

    header{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding-left: 2.9rem;
        font-family: "Merriweather", serif;
        font-size: 24px;
        color: #111111;

        @media screen and (max-width: 767px){
            padding-left: 1.2rem;
        }

        aside{
            font-family: "Merriweather", serif;
            font-size: 96px;
            color: #346473;
        }
    }

    main{
        padding-top: 2rem;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #111111;
        line-height: 1.5rem;
    }

    footer{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2.7rem;
        gap: 3px;

        @media screen  and (max-width: 767px) {
        padding-left: 1.2rem;
        gap: 3px;
        }

        button{

        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        background-color: transparent;
        border: 0;
    }

    hr{
        width: 16%;
        height: 1.6px;
        background-color: #346473;
        border: 0;

        @media screen and (max-width: 767px) {
          height: 2.1px;
        }

    }
    }
    
}